<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->

<title th:text="${pageTitle}"></title>
</head>

<body>
	<!-- A red navbar that becomes vertical on small screens -->
	<nav class="navbar navbar-expand-sm bg-danger navbar-dark">

		<!-- Brand/logo -->
		<a class="navbar-brand" href="#"> <img src="/img/logo.jpg"
			alt="logo" style="width: 40px;">
		</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon bg-danger"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a
					class="nav-link text-light font-weight-bold" href="/">Home</a></li>
				<li class="nav-item"><a
					class="nav-link text-light font-weight-bold" href="/players">Players</a>
				</li>
				<li class="nav-item"><a
					class="nav-link text-light font-weight-bold" href="/staff">Staff</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron text-center">

		<h1>Welcome to ManUtd.com</h1>
		<h2></h2>
		<div class="text-centre">
			<img src="/img/badge.png" alt="badge" width="200px" height="200px">
		</div>
		<br />

	</div>

<!-- Main content section for the page, split into 3 equal columns layout -->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="text-center">Past</h3>
				<img class="img-fluid mx-auto d-block rounded" src="/img/busby.jpg"
					alt="Matt Busby">
				<p class="text-center lead">Where we have been</p>
				<div class="text-center">
					<a href="#"
						class="btn bg-danger text-light btn-outline-dark btn-lg center-block"
						role="button">Discover More</a>
				</div>
			</div>
			<div class="col-sm-4">
				<h3 class="text-center">Present</h3>
				<img class="img-fluid mx-auto d-block rounded"
					src="/img/present.jpg" alt="Current Squad">
				<p class="text-center lead">Where we are now</p>
				<div class="text-center">
					<a href="#"
						class="btn bg-danger text-light btn-outline-dark btn-lg center-block"
						role="button">Discover More</a>
				</div>
			</div>
			<div class="col-sm-4">
				<h3 class="text-center">
					Future </h3>
				<img class="img-fluid mx-auto d-block rounded"
						src="/img/youth.jpg" alt="Youth Team">
				<p class="text-center lead">Where we are going</p>
				<div class="text-center">
					<a href="#"
						class="btn bg-danger text-light btn-outline-dark btn-lg center-block"
						role="button">Discover More</a>
				</div>
			</div>
		</div>
	</div>
	</br>
	</br>
<!-- Page Footer -->
	<div class="container bg-danger">
		</br>
		<div class="row">
			<div class="col-sm-3">
				<div class="text-center">
					<a href="#" class="lead text-light">Contact Us</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<a href="#" class="lead text-light">About Us</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<a href="#" class="lead text-light">Privacy Policy</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="text-center">
					<a href="#" class="lead text-light">Site Map</a>
				</div>
			</div>
		</div>
		</br>
	</div>

</body>
</html>
